<div class="s_banner">
   <img src="images/banner5.jpg" class="s_icon"/>
   <div class="s_text">
   	   <h3>时光留下斑驳的倩影</h3>
   	   <div class="s_pic">
   	   	 <img src="images/tpic.jpg" />
   	   	 <span>新雨染古道&nbsp; &raquo;</span>
   	   </div>
   </div>
</div>	

<div class="s_main">
	<ul id="playlist">
	  <li>
	  	<img src="images/audio.JPG" class="l_img"/>
	  	<p>播放全部<span>（共16首）</span></p>
	  	<img src="images/playlist.jpg" class="r_img"/>
	  </li>
	  <!--<li>
	  	<p class="music">十年</p>
	  	<p class="artist">陈奕迅</p>
	  </li>
	  <li>
	  	<p class="music">画</p>
	  	<p class="artist">张靓颖</p>
	  </li>
	  <li>
	  	<p class="music">听海</p>
	  	<p class="artist">张惠妹</p>
	  </li>
	  <li>
	  	<p class="music">童话镇</p>
	  	<p class="artist">陈数</p>
	  </li>-->
	</ul>
</div>


<div id="listItem" style="display: none;">
	<li>
	  	<p class="music">童话镇</p>
	  	<p class="artist">陈数</p>
	  </li>
</div>



